.cell {
   padding: 20px;

   min-width: 100px;
   height: 100px;
   /* text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden; */

   flex-shrink: 0; /* don't shrink */
   flex-grow: 0;   /* don't grow */

   font-size:20px;

   vertical-align:middle;

   border: 2px;
   border-color: aqua;
   border-style: solid;
}